moz-sql-parser @ git+https://github.com/EraYaN/moz-sql-parser@object-ast
typed-ast
pyarrow
numpy
horast
astunparse
typed-astunparse
transpyle[cpp] @ git+https://github.com/EraYaN/transpyle@cpp-unparsing-extensions